<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <!-- More info: https://logging.apache.org/log4net/release/manual/configuration.html -->
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <threshold value="INFO" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline" />
            </layout>
        </appender>
        <!--<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
          <param name="File" value="C:\DEBUG.log"/>
          <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
          <appendToFile value="true" />
          <rollingStyle value="Size" />
          <maxSizeRollBackups value="2" />
          <maximumFileSize value="10MB" />
          <staticLogFileName value="true" />
          <threshold value="DEBUG" />
          <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c %m%n"/>
          </layout>
        </appender>-->
        <root>
            <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
            <appender-ref ref="ConsoleAppender" />
            <!--<appender-ref ref="LogFileAppender" />-->
        </root>
    </log4net>
</configuration>