<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <!--Automation framework settings-->
        <!--Buyside BFF-->
        <add key="browser" value="Chrome" />
        <add key="homeUrl" value="http://demo.simplcommerce.com/" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="automationTool" value="Selenium" />
        <add key="jQueryScriptPath" value="ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" />
    </appSettings>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc]          - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="TraceAppender" />
        </root>
    </log4net>
    <Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration>
        <dependencies>
            <add automationTool="Selenium" browser="Chrome" serviceType="OpenQA.Selenium.IWebDriver, WebDriver"
                 implementationType="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver">
            </add>
            <add automationTool="Selenium" browser="Firefox" serviceType="OpenQA.Selenium.IWebDriver, WebDriver"
                 implementationType="OpenQA.Selenium.Firefox.FirefoxDriver, WebDriver">
            </add>
            <add automationTool="Selenium" browser="IE" serviceType="OpenQA.Selenium.IWebDriver, WebDriver"
                 implementationType="OpenQA.Selenium.IE.InternetExplorerDriver, WebDriver">
            </add>
            <add automationTool="Selenium" browser="PhantomJS" serviceType="OpenQA.Selenium.IWebDriver, WebDriver"
                 implementationType="OpenQA.Selenium.PhantomJS.PhantomJSDriver, WebDriver">
            </add>
        </dependencies>
    </Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration>
    <Ipreo.AutomationFramework.UI.Configuration.TimeoutSettings ElementTimeout="00:00:05" PageTimeout="00:00:59" />
    <Ipreo.AutomationFramework.UI.Configuration.RetrySetValueSettings EnableRetry="false" RetriesCount="1" />
</configuration>