<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="browser" value="chrome" />
        <add key="homeUrl" value="http://demo.simplcommerce.com/" />
        <add key="elementTimeout" value="00:00:05" />
        <add key="PageTimeout" value="00:00:59" />
    </appSettings>
</configuration>